html,body,div,span,applet,object,iframe,
h1,h2,h3,h4,h5,h6,p,blockquote,pre,
a,abbr,acronym,address,big,cite,code,
del,dfn,em,font,img,ins,kbd,q,s,samp,
small,strike,strong,sub,sup,tt,var,
b,u,i,center,
dl,dt,dd,ol,ul,li,
fieldset,form,label,legend,
table,caption,tbody,tfoot,thead,tr,th,td{margin:0;padding:0;border:0;outline:0;vertical-align:baseline;background:transparent;}
body{line-height:1;}
ol,ul{list-style:none;}
* {
    font-family: Arial,Helvetica,sans-serif;
	
}
body{
    line-height: 20px;
    height:100%;
	 background: url('../images/bg_layer_1.jpg') ;
	 
}
a{
    cursor: pointer;
	color:#333;
    text-decoration: none;
}
.read-book{
    background: url('../images/ic_book.png') no-repeat scroll 0 0;
    padding-left: 30px;
    cursor: pointer;
    color: #B27D47;
}
.read-book:hover{
    background: url('../images/ic_book_on.png') no-repeat scroll 0 0;
    color: #000;
}
.arrow{
    float: left;
    /*border: 1px solid #D39C64;*/
    border-right: none;
    padding: 9px 6px 7px;
    background: #F6E1C4;
    border-radius: 10px 0 0 0 ;
}
.arrow h4{
    color:#643916;
}
.arrow-home{
    float: left;
    /*border: 1px solid #D39C64;*/
    border-right: none;
    padding: 9px 6px 7px;
   background: url("../images/ic_book_2.png") no-repeat left center;
    border-radius: 10px 0 0 0 ;
	
}
.arrow-home h4{
    color:#643916;
    padding-left: 15px;
}
.arrow-slide-right {	
    float: left;
    margin: 10px 2px -10px 1px;
}
.arrow-right {
    border-top:18px solid transparent;
    border-bottom:18px solid transparent;
    border-left:18px solid #F6E1C4;
    float: left;
}
.line-shadow{
	background: url("../images/line_shadow.png") no-repeat bottom center;
	height:15px;
}
.img-shadow{
	box-shadow: 0px 1px 3px 1px rgb(169, 168, 165);
	border: 2px solid rgb(255, 255, 255);
	border-radius: 4px;
	margin: 4px;
}
.slid-pro-title{
	float: left;
	width: 100%;
	font-size: 16px;
	font-weight: bold;
	padding-bottom: 5px;
	border-bottom: 1px solid rgb(170, 40, 40);
}
.container-wp{
    max-width: 1040px;
    margin:0 auto;
    background: url('../images/bg.png') ;
    /*border:1px solid #EAC18D;*/
    box-shadow: -1px 3px 9px 2px #A9A8A5;
}
.container-wp-fullwidth{
    
    margin:0 auto;
    background: url('../images/bg.png') ;
    /*border:1px solid #EAC18D;*/
    box-shadow: -1px 3px 9px 2px #A9A8A5;
}
.container-content{
   background: url('../images/bg-all.png');
    border: 1px solid #FCE0BB;    
    margin: 0 auto;
}
.logo{
    padding: 10px 0;
    float: left;
}
.logo .item-book{
    float: left;
    padding: 9px;
    cursor: pointer;
    margin-right: 10px;
    font-weight: bold;
}
.logo .item-book:last-child{
    margin-right:  0px;
}
.logo .item-book:hover,.logo .active-item{
    background: #C0703D;
    border-radius: 5px;
}
.logo img{
    float: left;
}
.logo-login{
    /*width: 182px;*/
    float: right;
    position: relative;
    top: 23px;
}
.logo-login a{
    height:36px;
    border:1px solid #be7338;	
    border-radius: 4px;
    font-weight: bold;
    color: #be7338;
    padding: 8px 10px 1px 10px;
}
.logo-login .register{
	   /*background: url('../images/ic_register.png') left center no-repeat #ecd1b5;*/
	   float: left;
}
.logo-login .login{	
	   /*background: url('../images/ic_login.png') left center no-repeat #ecd1b5;*/
	   float: right;
}
.logo-login .active, .logo-login a:hover {
    color:#C0703D;
}
.click_active{
    background:#C0703D;
}
.menu{
    padding: 9px 10px 10px 10px;
    float: left;
    background:#BE7339;
    color:#FCE4BE !important;
    cursor: pointer;
    text-align: center;
    border-left: 1px #F3CB90 solid;
    margin-bottom: 3px;
}
.menu:hover{
    background: #5A2D0C;
}
.menu:last-child{
    margin-right: 0px;
}
.menu-search{
    float: left;
    background: url(../img/icon-search.png) no-repeat #fff;
    border-top: 1px solid #C48B56;
    border-bottom: 1px solid #C48B56;
}
.menu-search input{
    padding: 8px 10px 9px 10px;
    border: none;
    width:100%;
    
}
.select2{
    width:100% !important;
}
.select2-container--default .select2-selection--single{
    border-radius: 0px !important;
    height: 37px;
    border-left: 1px solid #C48B56;
}
#select2-fabric-container{
    padding: 5px;
}
.select2-selection__arrow{
    top: 6px !important;
}
.footer-wp{
    background:#B88E5E;
    padding-top:10px;
    position:relative;
    bottom:0;
    left:0;
	
	
	border-radius: 5px;
	box-shadow: 0px 1px 3px 1px #CAC6C6;
	margin: 2px;
}
.footer-wp .items{
    margin-top: 10px;
    cursor: pointer;
    padding-left: 25px;
}
.footer-wp .items:hover{
    color:#fff;
}
.footer-wp .items-1{
    background: url('../images/ic_term.png') no-repeat scroll 0 0;
}
.footer-wp .items-1:hover,.footer-wp .active-1{
    background: url('../images/ic_term_on.png') no-repeat scroll 0 0;
}
.footer-wp .items-2{
    background: url('../images/ic_mail.png') no-repeat scroll 0 0;
}
.footer-wp .items-2:hover,.footer-wp .active-2{
    background: url('../images/ic_mail_on.png') no-repeat scroll 0 0;
}
.footer-wp .items-3{
    background: url('../images/ic_ios.png') no-repeat scroll 0 0;
}
.footer-wp .items-3:hover,.footer-wp .active-3{
    background: url('../images/ic_ios_on.png') no-repeat scroll 0 0;
}
.footer-wp .items-4{
    background: url('../images/ic_android.png') no-repeat scroll 0 0;
}
.footer-wp .items-4:hover,.footer-wp .active-4{
    background: url('../images/ic_android_on.png') no-repeat scroll 0 0;
}
.footer-wp .items-5{
    background: url('../images/ic_info.png') no-repeat scroll 0 0;
}
.footer-wp .items-5:hover,.footer-wp .active-5{
    background: url('../images/ic_info_on.png') no-repeat scroll 0 0;
}
.footer-wp .items-6{
    background: url('../images/ic_question.png') no-repeat scroll 0 0;
}
.footer-wp .items-6:hover,.footer-wp .active-6{
    background: url('../images/ic_question_on.png') no-repeat scroll 0 0;
}
.box-login{
    background: #FAE5C8 none repeat scroll 0 0;
    border-radius: 5px;
    padding: 15px;
}
.btn-epub{
    background: #BE7339;
    color:#FCE4BE;
    height: 36px;
}
.btn-epub:hover,.click_active{
    background: #5A2D0C;
    color:#FCE4BE !important;
}
.white{
    border-color: #FFF;
}
table{
    width: 100%
}
.border{
    border:1px solid #fff;
}
#configure {
    border-width: 1px;
    color: #fff;
    height: 50px;
    overflow: hidden;
    position: absolute;
    right: 0;
    top: 0;
    width: 50px;
    z-index: 10;
}
#configurator-wrap table td:hover,#configurator-wrap table td.active{
    background: #457CFD !important;
}
#configurator-wrap table td{
    border: 1px solid #FFF;
    font-weight: normal;
    margin-bottom: 0;
    padding: 24px 0;
    text-align: center;
    text-transform: uppercase;
    color: #FFF;
    font-weight: bold;
}
#configurator-wrap table td label{
    position: relative;top: 8px;
}
.clear{
    clear: both;
}
.clear1{
    clear: both;
    height: 10px;
}
.left-white{
    border-left:1px solid #FFF;
}
.right-white{
    border-right:1px solid #FFF;
}
.top-white{
    border-top:1px solid #FFF;
}
.top-logo{
    height: 180px;
    background: #457CFD !important;
}
.top-menu:hover,.active {
    background: #be7339;
}
.top-menu{
    height: 70px;
    font-size: 14px;
    text-align: center;
    color: #FFF;
    font-weight: bold;
    text-transform: uppercase;
    padding: 15px 0;
    cursor: pointer;
}
.p15{
    padding: 35px 0 !important;
}
.p-item{
    padding: 20px 5px;
}
.jssorb21 div, .jssorb21 div:hover, .jssorb21 .av {
    background: url('../img/b21.png') no-repeat;
    overflow: hidden;
    cursor: pointer;
}

.jssorb21 div {
    background-position: -5px -5px;
}

.jssorb21 div:hover, .jssorb21 .av:hover {
    background-position: -35px -5px;
}

.jssorb21 .av {
    background-position: -65px -5px;
}

.jssorb21 .dn, .jssorb21 .dn:hover {
    background-position: -95px -5px;
}

.jssora21l, .jssora21r, .jssora21ldn, .jssora21rdn {
    position: absolute;
    cursor: pointer;
    display: block;
    background: url('../img/a21.png') center center no-repeat;
    overflow: hidden;
}

.jssora21l {
    background-position: -3px -33px;
}

.jssora21r {
    background-position: -63px -33px;
}

.jssora21l:hover {
    background-position: -123px -33px;
}

.jssora21r:hover {
    background-position: -183px -33px;
}

.jssora21ldn {
    background-position: -243px -33px;
}

.jssora21rdn {
    background-position: -303px -33px;
}

.productbox {
    position: relative;
border-radius: 4px;
-webkit-transition: all .2s ease-in-out;
}
.caption {
    padding:10px;
    bottom: 0;
    width: 60%;
    overflow: hidden;
    font-size: 11px;
    float: left;

}
.caption-2 {
    padding:10px;
    bottom: 0;
    width: 100%;
    overflow: hidden;
    color: #5085fd;
    float: left;
    text-align: center;
}
.caption h5,.caption-2 h5 {
    font-size: 16px;
    font-weight: bold !important;
    text-transform: uppercase;
}
.finalprice {
  font-size:15px;
    color: #AAFCAE;
}
h5 {
  margin-top: 0px;
  color: white;
  overflow: hidden;
}
.img-responsive{
    width: 40%;
    float: left;
}
.img-responsive-2{
    width: 40%;
    margin:0 auto;
}
.img-responsive img,.img-responsive-2 img{
    width: 100%;
}
.container {
    width: 100%;
}
/*.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
  padding: 5px;
}*/
.btn-block {
margin-top: 5px;
}
.saleoffrate{
position: absolute;
    top:10px;
    left: 10px;
padding-top: 13px;
text-align:center;
background-color: rgba(76, 174, 76,0.8);
color: #FFFFFF;
border-radius: 50%;
height: 50px;
width: 50px;
line-height: 13px;
}
@media (min-width: 384px) and (max-width: 768px) {
  .img-responsive img{
      max-width: 50%;
  }
  .img-responsive{
      text-align: center;
  }
}
@media (min-width: 384px) and (max-width: 490px) {
  .img-responsive img{
      max-width: 100%;
  }
  .img-responsive{
      text-align: center;
  }
}
.jssorb03 {
    position: absolute;
}
.jssorb03 div, .jssorb03 div:hover, .jssorb03 .av {
    position: absolute;
    /* size of bullet elment */
    width: 21px;
    height: 21px;
    text-align: center;
    line-height: 21px;
    color: white;
    font-size: 12px;
    background: url(../img/b03.png) no-repeat;
    overflow: hidden;
    cursor: pointer;
}
.jssorb03 div { background-position: -5px -4px; }
.jssorb03 div:hover, .jssorb03 .av:hover { background-position: -35px -4px; }
.jssorb03 .av { background-position: -65px -4px; }
.jssorb03 .dn, .jssorb03 .dn:hover { background-position: -95px -4px; }
.jssora03l, .jssora03r {
    display: block;
    position: absolute;
    width: 55px;
    height: 55px;
    cursor: pointer;
    background: url(../img/a03.png) no-repeat;
    overflow: hidden;
}
.jssora03l { background-position: -3px -33px; }
.jssora03r { background-position: -63px -33px; }
.jssora03l:hover { background-position: -123px -33px; }
.jssora03r:hover { background-position: -183px -33px; }
.jssora03l.jssora03ldn { background-position: -243px -33px; }
.jssora03r.jssora03rdn { background-position: -303px -33px; }
.searchbox{
	float:right;
	width: 96%;
}
.row.box-slide{
padding: 9px;
  background-color: #fff;
  opacity: 0.8;
  border-radius: 5px;
  box-shadow: 1px 1px 8px 1px #333;
}
.boximg{
padding: 4px;
background-color: #fff;
border-radius: 5px;
box-shadow: 0px 1px 3px 1px #CAC6C6;
margin: 2px;
}
.menu1 {
	width: auto;
	height: auto;
	padding: 0;
	margin:0;
    list-style: none;
}
ul {
	padding: 0;
	list-style: none;
}
.menu1 > li > a {
	width: 100%;
	line-height: 2.5em;
	text-indent: 1.2em;
	display: block;
	position: relative;
	color: #be682f;
    font-size:15px;
	text-decoration:none;
	border-bottom: 1px solid #ddd;
	font-weight:800;
	background-color: #fde5cb;
	margin: 2px 0px;
	border: 1px solid #be682f;
	border-radius: 3px;
}
.menu1 > li > a img{
	vertical-align: baseline;
	margin-right: 5px;
}
.menu1 ul li a {
	width: 100%;
	display: block;
	position: relative;
	color: #ecc582;
	text-decoration:none;
	border-bottom: 1px solid #ddd;
	line-height: 2.5em;
	text-indent: 1.2em;
	background: #be7339;
}
.menu1 ul li a:hover{
	background: #be7339;
	color:#fff;
}
/**menu left**/
.menu1 > li > a:hover, .menu1 > li > a.active {
	background: #be7339;
	color: #5A421E;
	
}
.menu1 ul.kid-menu li a{
	border-bottom: none;
}
.sublittle a{
	padding-left:10px;
}
.menu1 ul, .menu1 ul li{
background: url('../images/bg.png');
}
.guide-icon{
	background: url('../img/faq.png') no-repeat ;
}
.guide-icon a {
  padding-left: 20px;
  color: #DB9527;
  font-size: 14px;
  font-weight: bold;
}
.guide-icon:active{
	background: url('../img/faq-active.png') no-repeat left center 100%;
}
.radio-pading{
	padding-left: 34px;
}
.trung{
 color: #624312 ;
 font-weight: bold;
}
.trung:hover{
 color: #fff ;
 font-weight: bold;
}
.tieu{
 color: #DB9527;
}
.tieu:hover{
 color: #fff;
}
.head-content{
height:83px;
}
.box-slide{

}
.menu-top{

}
.jssorb01 {
	position: absolute;
}
.jssorb01 div, .jssorb01 div:hover, .jssorb01 .av {
	position: absolute;
	width: 12px;
	height: 12px;
	filter: alpha(opacity=70);
	opacity: .7;
	overflow: hidden;
	cursor: pointer;
	border: #000 1px solid;
}
.jssorb01 div { background-color: gray; }
.jssorb01 div:hover, .jssorb01 .av:hover { background-color: #d3d3d3; }
.jssorb01 .av { background-color: #fff; }
.jssorb01 .dn, .jssorb01 .dn:hover { background-color: #555555; }
.jssora05l, .jssora05r {
	display: block;
	position: absolute;
	/* size of arrow element */
	width: 40px;
	height: 40px;
	cursor: pointer;
	background: url(../img/a17.png) no-repeat;
	overflow: hidden;
}
.jssora05l { background-position: -10px -40px; }
.jssora05r { background-position: -70px -40px; }
.jssora05l:hover { background-position: -130px -40px; }
.jssora05r:hover { background-position: -190px -40px; }
.jssora05l.jssora05ldn { background-position: -250px -40px; }
.jssora05r.jssora05rdn { background-position: -310px -40px; }
.boxproduct{
		padding: 9px;
	  background: url(../images/bg-slider.png) ;
	  border-radius: 5px;
	  box-shadow: 1px 1px 8px 1px #333;
}
.form-control{
    height: 36px;
    opacity: 0.8;
}

.footer-wp .items-7{
    background: url('../images/ic_laptop.png') no-repeat scroll 0 0;
}
.footer-wp .items-7:hover,.footer-wp .active-6{
    background: url('../images/ic_laptop_on.png') no-repeat scroll 0 0;
}
.menu-hight-pluss{
	background: url('../images/ic_plus_dai_muc.png') no-repeat right top;
	width:16px;
	height:16px;
	float:right;
}
.menu-hight-pluss-active{
	background: url('../images/ic_subtract_dai_muc.png') no-repeat right top;
	width:16px;
	height:16px;
	float:right;
}.menu-normal-pluss{
	background: url('../images/ic_plus_trung_muc.png') no-repeat right top;
	width:16px;
	height:16px;
	float:right;
}
.menu-normal-pluss-active{
	background: url('../images/ic_subtract_trung_muc.png') no-repeat right top;
	width:16px;
	height:16px;
	float:right;
}
.footer-wp h4{
	border-bottom:1px solid #333;
}
.cateleft-hight-lv{
	background: url('../images/ic_plus_dai_muc.png') no-repeat right top;
}
.cateleft-hight-lv:hover{
	background: url('../images/ic_subtract_dai_muc.png') no-repeat right top;
}
#slider-shadow{
background: transparent url("/images/shadow.png") no-repeat scroll center bottom;
height: 300px;
width: 100%;
margin-bottom: -20px;
}